<main class="page">
    <div class="container">
	     <nav class="navbar navbar-inverse sub-navbar navbar-fixed-top" >
		 	<div class="container">
			    <div class="navbar-header">
			      <a class="navbar-brand" [routerLink]="['/']" [routerLinkActive]="['active']">Enrolamiento</a>
			    </div>

			    <div class="collapse navbar-collapse" id="subenlaces">
   				 </div>
			</div>

		</nav>
		<div style="margin-top:50px;">
      		<router-outlet></router-outlet>
  		</div>
    </div>
</main>
